@media (prefers-color-scheme: dark) {
    :root {
        --bg-main: #222;
        --bg-alt: #333;
        --font: #eee;
        --bg-code: rgb(58, 62, 68);
        --link: rgb(5, 199, 231);

        --hl-imp: rgb(230, 98, 14);
        --hl-keyword: rgb(16, 180, 230);
        --hl-function: violet;
        --hl-number: orange;
        --hl-string: lime;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-main: white;
        --bg-alt: whitesmoke;
        --font: black;
        --bg-code: rgb(210, 224, 230);
--link: #0000EE;

        --hl-imp: color: rgb(230, 98, 14);
        --hl-keyword: blue;
        --hl-function: purple;
        --hl-number: orange;
        --hl-string: rgb(18, 161, 70);
    }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  scroll-behavior: smooth;
  font-size: 18px;
  color: var(--font);
}

body {
  display: grid;
  grid-template-areas:
    "Header Header"
    "Menu Content";
  grid-template-columns: 3fr 10fr;
  grid-template-rows: 1fr 10fr;
}

header {
  grid-area: Header;
  text-align: center;
  position: sticky;
  border-bottom: 1px var(--font) solid;
  font-family: Arial, sans-serif;
  display: inline;
  background-color: var(--bg-alt)
}

.headline a img {
  height: 2.2rem;
  margin: 5px;
  float: right;
  display: inline;
}



nav {
  grid-area: Menu;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--bg-alt);
}

main {
  grid-area: Content;
  background-color: var(--bg-main);
}

main section {
  margin: 3%;
}

main a:visited, main a {
    text-decoration: none;
    color: var(--link);
}

nav {
  text-decoration: none;
  color: var(--font);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;

}

footer li {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  float: left;

}


footer li:hover {

  background-color: #111;
}

nav a:hover {
  color: rgb(31, 152, 210);
}

nav section {
  margin: 3%;
}

nav section ol li {
  margin-bottom: 3%;
}

hr {
  margin: 1%;
}

pre {
  counter-reset: line;
  border: 1px solid grey;
  background-color: var(--bg-code);
  color: var(--font);
  padding: 0;
  padding: 10px;
  border-radius: 3px;
  border-left: 5px solid rgb(48, 165, 232);
}

code {
  counter-increment: line;
  margin: 0;
  float: left;
}

code:before {
  content: counter(line) ". ";
}

.number {color: var(--hl-number);}
.string {color: var(--hl-string);}
.function {color: var(--hl-function);}
.keyword {color: var(--hl-keyword);}
.imp {color: var(--hl-imp);}

.number, .string, .function, .keyword, .imp {
  font-weight: bold;
}
