html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
  grid-area: Header;
}

nav {
  grid-area: Menu;
}

main {
  grid-area: Main;
}

footer {
  grid-area: Footer;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #222;
        color: #fefefe;
    }
    a {
        color: #5fa9ee;
    }
    img {
        filter: grayscale(20%);
    }
}
