html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
  grid-area: Header;
}

nav {
  grid-area: Menu;
}

main {
  grid-area: Main;
}

footer {
  grid-area: Footer;
}
